School/School.Management.Presentation.Console/Service References/httpsService/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="HttpsEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://start/School.Management.Services.IISHTTPS/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://start/School.Management.Services.IISHTTPS/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://start/School.Management.Services.IISHTTPS/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/School.Management.Domain.Entities" />
      <xsd:import schemaLocation="https://start/School.Management.Services.IISHTTPS/StudentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Utils.Domain.Entity" />
      <xsd:import schemaLocation="https://start/School.Management.Services.IISHTTPS/StudentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentAffairsService_Nothing_InputMessage">
    <wsdl:part name="parameters" element="tns:Nothing" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_CreateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_CreateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_RemoveStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_RemoveStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_GetStudentsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByName" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_GetStudentsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_GetStudentById_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_RegisterToCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterToCourse" />
  </wsdl:message>
  <wsdl:message name="IStudentAffairsService_RegisterToCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterToCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentAffairsService">
    <wsdl:operation name="Nothing">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/Nothing" message="tns:IStudentAffairsService_Nothing_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAffairsService/CreateStudent" message="tns:IStudentAffairsService_CreateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAffairsService/CreateStudentResponse" message="tns:IStudentAffairsService_CreateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAffairsService/UpdateStudent" message="tns:IStudentAffairsService_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAffairsService/UpdateStudentResponse" message="tns:IStudentAffairsService_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAffairsService/RemoveStudent" message="tns:IStudentAffairsService_RemoveStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAffairsService/RemoveStudentResponse" message="tns:IStudentAffairsService_RemoveStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAffairsService/GetStudentsByName" message="tns:IStudentAffairsService_GetStudentsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAffairsService/GetStudentsByNameResponse" message="tns:IStudentAffairsService_GetStudentsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAffairsService/GetStudentById" message="tns:IStudentAffairsService_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAffairsService/GetStudentByIdResponse" message="tns:IStudentAffairsService_GetStudentById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IStudentAffairsService/GetStudentByIdExceptionFault" name="ExceptionFault" message="tns:IStudentAffairsService_GetStudentById_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterToCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentAffairsService/RegisterToCourse" message="tns:IStudentAffairsService_RegisterToCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentAffairsService/RegisterToCourseResponse" message="tns:IStudentAffairsService_RegisterToCourse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpsEndPoint" type="tns:IStudentAffairsService">
    <wsp:PolicyReference URI="#HttpsEndPoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Nothing">
      <soap12:operation soapAction="http://tempuri.org/IServiceBase/Nothing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateStudent">
      <soap12:operation soapAction="http://tempuri.org/IStudentAffairsService/CreateStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap12:operation soapAction="http://tempuri.org/IStudentAffairsService/UpdateStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <soap12:operation soapAction="http://tempuri.org/IStudentAffairsService/RemoveStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsByName">
      <soap12:operation soapAction="http://tempuri.org/IStudentAffairsService/GetStudentsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <soap12:operation soapAction="http://tempuri.org/IStudentAffairsService/GetStudentById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterToCourse">
      <soap12:operation soapAction="http://tempuri.org/IStudentAffairsService/RegisterToCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="HttpsEndPoint" binding="tns:HttpsEndPoint">
      <soap12:address location="https://start/School.Management.Services.IISHTTPS/StudentService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://start/School.Management.Services.IISHTTPS/StudentService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>